  
<h1>Pirates</h1>
<div class="pirate">
<h3>Name: <%=@pirate.name%></h3><br>
<h4>Weight: <%=@pirate.weight%> pounds </h4><br>
<h5>Height: <%=@pirate.height%> inches </h5><br>
</div>

<h2>Ships</h2>
<div class="ship">
<%@ships.each do |ship|%>
<p><%=ship.name%></p><br>
<p><%=ship.type%></p><br>
<p><%=ship.booty%></p><br>
<%end%>
</div>





<%# <h2>Display your first ship here</h2>


<h2>Display your second ship here</h2> %>
