<h1>Display your Pirate here</h1>
<div class="pirate">
    <h1>Name: <%= @pirate.name %><h1><br>
    <h1>Weight: <%= @pirate.weight %> pounds<h1><br>
    <h1>Height: <%= @pirate.height %> inches<h1><br>
</div><br>

<h2>Display your first ship here</h2>
<div class="ship1">
    <h3>Name: <%= @ship1.name %></h1><br>
    <h3>Type: <%= @ship1.type %></h1><br>
    <h3>Booty: <%= @ship1.booty %></h1><br>
</div><br>

<h2>Display your second ship here</h2>
<div class="ship2">
    <h3>Name: <%= @ship2.name %></h3><br>
    <h3>Type: <%= @ship2.type %></h3><br>
    <h3>Booty: <%= @ship2.booty %></h3><br>
</div>