<p class="pirate">
  Name: <%= @pirate.name %>
  Weight: <%= @pirate.weight %> pounds
  Height: <%= @pirate.height %> inches
</p>

<% @ships.each do |ship| %>

  <p class="ship">
    Name: <%= ship.name %>
    Type: <%= ship.type %>
    Booty: <%= ship.booty %>
  </p>
<% end %>
